<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Rotaract Club Distrito 4540" />
<meta name="author" content="Lemuel Roberto Bonifacio" />

<title>{% if page.title %}{{ page.title }} - {{ site.data.global.title }}{% elsif post.title %}{{ post.title }} - {{ site.data.global.title }}{% else %}{{ site.data.global.title }}{% endif %}</title>

<link rel="icon" type="image/x-icon" href="/assets/images/rotaract-icon.png" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:700" />
<link rel="stylesheet" href="/assets/css/style.css" />
